@keyframes fadein{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

  
*{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;               
}
  
body::-webkit-scrollbar-track {
    background: #ffffff00;        
}
   
body::-webkit-scrollbar-thumb {    
    background-color: #343045;    
    border-radius: 20px;       
    border: 2px solid #7f75ac;  
}


/* nav ul li:hover {
    
    background: linear-gradient(to right, #8176AF, #C0B7E8);
    color: #343045;
    background-clip: text;
    -webkit-background-clip: text;  
    
    -webkit-text-fill-color: transparent;
} */
  
nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #C0B7E8, #8176AF, #343045);
    display: block;
    
    transition: 0.2s;
}
  
nav ul li:hover::after{
    width: 100%;
}

#contact-btn,
#join-btn {
    animation: pulse 5s infinite;
}

  
#contact-btn:hover {
    background-color: #ffffff29;
    font-size: 12.3px;
    transition: .3s ease;
}

#join-btn:hover {
    font-size: 12.3px;
    background: linear-gradient(to right, #7f75ac, #b7aedc);
    transition: .5s ease;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
  
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
  
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


/* HOME */

.home-btn button:hover {
    font-size: 12.4px;
    background: linear-gradient(to right, #7f75ac, #b7aedc);
    transition: .5s ease;    
}

.home-btn:hover .arrow{
    transform: translateX(40px);
    transition: .5s ease-in;    
    
}

/* ABOUT */

.about-bottom-text button:hover {
    /* font-size: 12.4px; */
    background: linear-gradient(to right, #786fa2, #b7aedc);
    transition: .5s ease;
}

/* SERVICES */

.card button:hover {
    font-size: 12.4px;
    background: linear-gradient(to right, #7f75ac, #b7aedc);
    transition: .5s ease;
}

/* TECHNOLOGIES */

.active-techcicle{
    display: none !important;
}

.tech-clicle{
    cursor: pointer;
    animation: down 1s infinite alternate ease-out
}

.invert-img-cicle{
    transform: scaleY(-1);
    transition: all .5s ease; 
}

/* JOIN HYDRA */

#form-btn:hover {
    font-size: 12.4px;
    background: linear-gradient(to right, #7f75ac, #b7aedc);
    transition: 2s ease;
}

/* FOOTER */
.footer-menu li:hover, .utilitaries li:hover{
    position: relative;
    bottom: 2px;
    transition: .1s ease-in-out;
}


.bxl-facebook-circle:hover,
.bxl-twitter:hover,
.bxl-linkedin:hover,
.bxl-youtube:hover,
.bxl-instagram:hover,
.bxl-pinterest:hover{
    position: relative;
    bottom: 2px;
    transition: .1s ease-in-out;
}

/* FOOTER */

footer .logo img,
#footer-btn{
    animation: pulse 5s infinite;
}

#footer-btn:hover {
    font-size: 12.4px;
    background: linear-gradient(to right, #7f75ac, #b7aedc);
    transition: .5s ease;
    
}



